{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-0 shadow-sm">
            <div class="card-teal-header">
                <i class="bi bi-pencil"></i> Update Fuel Price
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-edit">
                            <i class="bi bi-save"></i> Update Price
                        </button>
                        <a href="{% url 'manager_dashboard' %}" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Back
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}